.maxContainer{
    background-image: url(../img/fondo.png);
    background-size: cover;
}
.imglogo{
    width: 20vw;
    height: 10vh;
}

.imglogo>img{
    width: 100%;
}

.signin{
    padding: 2rem;
}

.send{
    background-color: #2499E1;
    color:white;
    margin: 1em;
}

.twittContainer{
    padding-top: 3em;
    padding-bottom: 3em;
}

.textCara{
    width: 50vw;
    height: 30vh;
    font-size: 2rem;
    border-radius: 2vh;
    padding: 1vh;
}


.twittMsj{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-top: 2em;
    padding-bottom: 3em;
    

    justify-items: center;   
}

.comment {
    width: 30vw;
    background-color: white;
    border-radius: 2vh;
    height: 20vh;
    font-size: 1.3rem;
    padding: 1vh;
    margin:1vh;
    
}